---
import Layout from "../layouts/Layout.astro";
import CabeceraReserva from "../components/CabeceraReserva.astro";
import FormularioReserva from "../components/FormularioReserva.astro";
---

<Layout title="Reservar">
  <main class="max-w-3xl mx-auto py-12 px-4">
    <div class="bg-white rounded-3xl shadow-xl border border-gray-100 overflow-hidden">
      <CabeceraReserva />
      <FormularioReserva />
    </div>
  </main>
</Layout>
