---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<footer class="bg-gray-800 text-white p-6 text-center">
    <p>&copy; 2026 Taxi Aeropuerto Tenerife</p>
</footer>